/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    background-color: beige;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    background-color: #ececec;
}

h1 {
    font-size: 5rem;
    font-family: 'DM Serif Display', serif;
}

h2 {
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
}

h3 {
    font-size: 1.75rem;
    font-family: 'DM Serif Display', serif;
}


/* Header Section */

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky; top: 0;
    background-color: #081a31;
}

.ul-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #081a31;
    margin-right: 1rem;
}

.ul-container a {
    background-color: #081a31;
    text-decoration: none;
    color: #081a31;
}

.ul-container li {
    list-style-type: none;
    color: #ececec;
    margin: .45rem;
    padding: .5rem;
    font-size: 1.5rem;    
    background-color: #081a31;
}

.nav-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.nav-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.nav-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}






/* Main Section */

#about-me {
    margin-top: 5rem;
    margin-bottom: .05rem;
    text-align: center;
    font-size: 7rem;
    scroll-margin-top: 100px;

}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.main > * {
    margin: 3rem; 
}

.headshot-image {
    max-height: 600px;
    border-radius: 30%;
}

.intro-text p {
    font-size: 2rem;
}


/* Projects Section */
.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-top: 2px solid #081a31;
}

#projects {
    scroll-margin-top: 100px;
    margin-top: 7rem;
    margin-right: 5rem;
    text-align: right;
}

.project-container {
    width: 40%;
    min-width: 400px;
    height: 250px;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-container img {
    max-height: 250px;
    max-width: 200px;
    margin: .75rem;
    border: 2px solid black;
}

.project-text {
    margin: 1rem;
}

.project-text h3, a {
    color: black; 
    text-decoration: none;
}

/* Skills Section */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #081a31;
}

#skills {
    scroll-margin-top: 100px; 
    margin-top: 10rem;
    margin-left: 1rem;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: auto;
    width: 50%;
    margin-top: 1rem;
}

.skills-item img {
    max-height: 75px;
}


/* Contact Section */

.contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.form-section {
    display: flex;
    align-items: top; 
}

.get-in-touch {
    text-align: right;
    margin-right: 1rem;
    margin-top: 12rem;
}

#contact {
    scroll-margin-top: 100px;
    border-top: 2px solid #081a31;
}

.contact-form {
    width: 400px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem;
}

.contact-form h3 {
    text-align: center;
    border-radius: 10px;
    margin-top: .5rem;
}

.contact-form label {
    display: block;
    width: 400px;
    text-align: left;
    margin-left: .5rem;
}


.contact-form input,
textarea {
  font: 1em;
  width: 400px;
  margin-left: .5rem;
  border: 1px solid grey;
  border-radius: 10px;
}


.contact-form textarea {
    vertical-align: top;
    height: 5em;
    border-radius: 10px;
  }
  
  .contact-form button {
    padding: 0 1rem;
  }

  .contact-form #submit {
    border-radius: 10px;
    padding: 0rem 1.5rem;
  }


  /* Footer Section  */

  .footer {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: bottom;
    padding: 1rem;
    background-color: #ececec;
  }

  .contact-icon {
    height: 30px;
    margin: 0rem 1rem;
  }


  /* light-gray { 
	background: #ececec; 
}
	
 greenish { 
	background: #9fd3c7; 
}

grey blue
	background: #385170; 
}

darker blue
	background: #142d4c; 
} */